* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: black;
}

.email_mobile {
    display: none;
}

.fixed_box {
    align-items: center;
    justify-items: center;
    background-color: black;
    position: fixed;
    top: 7%;
    left: 0;
    width: 100%;
    height: 100px;
}

.box_botton_fixed {
    align-items: center;
    justify-items: center;
    background-color: black;
    width: 100%;
    height: 100px;
}

.top {
    display: flex;
    padding: 0 3% 0 3%;
    color: white;
    width: 100%;
    border-bottom: 2px solid #1d1c1c;
    height: 7%;
    justify-content: center;
    align-items: center;
}

.media_720px {
    width: 45%;
    display: flex;
}

.part_1 {
    display: flex;
    width: 55%;
}

.part_2 {
    display: flex;
    width: 60%;
}

.part_3 {
    display: flex;
    width: 40%;

}

.lupa {
    overflow: hidden;
    background-color: #E8C423;
    border: none;
    cursor: pointer;
}

.email {
    align-items: center;
    display: flex;
    width: 100%;
}

.usuario-icone {
    margin-right: 3%;
}

.whats_logo {
    background-color: hsl(0, 0%, 90%);
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 70px;
    cursor: pointer;
    border-radius: 40px;
}

.apresentacao {
    align-items: center;
    display: flex;
    width: 100%
}

.bem_vindo {
    color: #E8C423;
    margin-right: 5px;
}

.qualidade {
    margin-left: 5px;
}

.e-mail_img {
    width: 35px;
    height: 25px;
    cursor: pointer;
}

.redes_sociais {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.logo_insta {
    width: 40px;
    cursor: pointer;
}

.logo_face {
    width: 25px;
    cursor: pointer;
}

.logo {
    display: flex;
    padding: 0 3% 0 3%;
    color: white;
    width: 100%;
    border-bottom: 2px solid #1d1c1c;
    height: 60%;
    justify-content: center;
}

.part_logo {
    width: 15%;
    display: flex;
    align-items: center;
}

.part_pesquisa {
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: end;
}

.caixa_pesquisa {
    width: 80%;
    display: flex;
    height: 40px;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px #eec200;
    height: 60%;
}

.quantidade {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    margin-top: -20px;
    margin-left: -10px;
    font-size: 10px;
}

.part_login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.login {
    display: flex;
    align-items: center;
}

.login_p {
    cursor: pointer;
}

.minha_conta {
    cursor: pointer;
}

.buscador {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 25px;
    text-align: center;
    place-content: center;
    border: none;
}

::placeholder {
    opacity: 0.3;
}

.logins-menus {
    line-height: 20px;
}

.part_carrinho {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 5%;
}

.carrinho {
    display: flex;
    align-items: center;
}

.car-icon {
    cursor: pointer;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    height: 40%;
    border-bottom: 2px solid #1d1c1c;
}



.sub-menus {
    padding: 0px 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 100%;
}

.sub-menu_only {
    height: 25px;
    padding: 0px 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.box_cont {
    display: flex;
}

.conteudo {
    padding: 3%;
    padding-top: 100px;
    width: 100%;
    background-image: url(img/capa.png);
    background-size: 100% 100%;
    background-position: bottom;
    height: 78%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #1d1c1c;
    justify-content: center;
    overflow: hidden;
}

h1 {
    width: 80%;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 70px;
    font-style: italic;
    line-height: 90%;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

span {
    color: #F8BB1D;
}

.saiba_mais {
    width: 15%;
    height: 31px;
    background-color: #f8ba1d;
    border: none;
    box-shadow: 0px 0px 5px 0px #000000;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
    font-weight: 700;
    margin-bottom: 5%;
}

.titulo_1 {
    font-size: 100vw;
}

.titulo-2 {
    width: 30%;
    color: white;
    font-family: 'arial';
    margin-bottom: 25px;
}


.selos {
    display: flex;
    width: 100%;
    margin-top: 30px;
    gap: 5%;
}

.orcamento {
    width: 20%;
    height: 31px;
    margin-right: 20px;
    background-color: #f8ba1d;
    border: none;
    box-shadow: 0px 0px 5px 0px #000000;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
    font-weight: 700;
}

.servicos {
    width: 20%;
    height: 31px;
    background-color: #00000075;
    color: white;
    border-color: #ffffff;
    border-width: 1px;
    box-shadow: 0px 0px 5px 0px #000000;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
    font-weight: 700;
}

.prod_qualidade {
    width: 20%;
    display: flex;
    align-items: center;
    width: 180px;
    color: white;
}

.garantia {
    width: 20%;
    display: flex;
    align-items: center;
    width: 185px;
    color: white;
}

.entrega {
    width: 20%;
    display: flex;
    align-items: center;
    width: 140px;
    color: white;
}

.quality_img {
    background-size: 30px 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    border: #F8BB1D solid 1px;
    border-radius: 10px;
    margin-right: 10px;
}

.garantia_img {
    background-size: 30px 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    border: #F8BB1D solid 1px;
    border-radius: 10px;
    margin-right: 10px;
}

.entrega_img {
    background-size: 30px 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    border: #F8BB1D solid 1px;
    border-radius: 10px;
    margin-right: 10px;
}

.e-mail_img:hover,
.whats_logo:hover,
.e-mail:hover,
.lupa:hover,
.logo_insta:hover,
.logo_face:hover,
.minha_conta:hover,
.login_p:hover,
.car-icon:hover,
.orcamento:hover,
.servicos:hover,
.see_all:hover,
.sub-menus:hover {
    transform: scale(1.1);
}

.e-mail_img:active,
.whats_logo:active,
.e-mail:active,
.lupa:active,
.logo_insta:active,
.logo_face:active,
.minha_conta:active,
.login_p:active,
.car-icon:active,
.orcamento:active,
.servicos:active,
.see_all:active {
    transform: scale(0.99);
    opacity: 0.8;
}

.sub-menus:active {
    transform: scale(0.99);
    opacity: 0.5;
}

.carousel {
    display: flex;
    width: 100%;
    height: 85%;
    padding: 2% 3%;
    gap: 1%;
    background-color: #141414;
    justify-content: center;
    border-bottom: 2px solid #1d1c1c;
}

.box_emphasis {
    width: 50%;
    height: 100%;
    display: flex;
}

.emphasis {
    color: #ffffff;
}

.highlights_menu {
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 10px;
}

.box_see_all {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.see_all {
    font-size: 12px;
    width: 100px;
    height: 21px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #e2dcdc;
}

.left_img {
    background-color: #ffffff;
    width: 20%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.right_img {
    background-color: #ffffff;
    width: 20%;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}

.center_menu {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.featured_items {
    display: flex;
    height: 90%;
    justify-content: center;
    padding: 10px;
    gap: 2%;
}

.item-1,
.item-2,
.item-3,
.item-4 {
    background-color: #ffffff;
    width: 24%;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    align-content: center;
}

.assistance {
    width: 100%;
    height: 100%;
}

.acessories {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 85%;
    background-image: url(img/assistencia.png);
    background-size: 100% 100%;
    justify-content: center;
    border-bottom: 2px solid #1d1c1c;
    padding-left: 3%;
    padding-right: 3%;
}

.h1_container {
    width: 80%;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 70px;
    font-style: italic;
    line-height: 90%;
    margin-bottom: 2%;
    letter-spacing: 3px;
}

.rodape_cont {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}

.titulo-3 {
    height: 20%;
    width: 50%;
    color: white;
    font-family: 'arial';
}

.rodape {
    padding: 40px;
    background-color: #141414;
    width: 100%;
    height: 350px;
}

.institutional {
    background-color: #141414;
    display: flex;
    width: 100%;
    height: 80%;
    gap: 5vw;
    justify-content: center;
}

.rights_reserved {
    color: #ffffff;
    background-color: #141414;
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: end;
}

.final_logo {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 30%;
    height: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    line-height: 20px;
    align-items: center;
}

.final_logo_img {
    margin: 0 auto;
}

.final_logo_text {
    width: 80%;
    text-align: justify;
    justify-content: center;
}

.quem_somos {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 30%;
    height: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.quem_somos_links {
    margin-left: 3%;
    line-height: 35px;
}

.link_institutional {
    color: rgba(255, 255, 255, 0.5);
}

.endereco {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 30%;
    height: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.ender_cont {
    color: rgba(255, 255, 255, 0.9);
    justify-content: center;
    display: flex;
    margin-bottom: 3%;
}

.inst {
    color: rgba(255, 255, 255, 0.9);
    justify-content: center;
    display: flex;
}

.institutional_whats {
    display: flex;
    align-items: center;
    margin: 10px 0
}

.institutional_email {
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.rodape_adress {
    margin-left: 3%;
}

.cnpj {
    margin-top: 1%;
    margin-left: 3%;
}

@media screen and (max-width: 900px) {

    .top {
        justify-content: normal;
    }

    .email_adress {
        display: none;
    }

    .email {
        justify-content: center;
    }

    .menu {
        gap: 1%;
    }

    .sub-menus {
        font-size: 12px;
    }

    .part_1 {
        display: flex;
        width: 70%;
        height: 20%;
    }

    .fixed_box {
        top: 4%;
    }

    .media_720px {
        width: 30%;
        height: 60%;
    }

    .part_2 {
        width: 20%;
    }

    .part_3 {
        width: 80%;
    }
}


@media screen and (max-width: 720px) {

    .top {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 60px;
    }

    .selos {
        margin-top: 10px;
    }

    .fixed_box {
        position: fixed;
        top: 80px;
    }

    .apresentacao {
        justify-content: center;
    }

    .sub-menus {
        font-size: 10px;
    }

    .email_adress {
        display: block;
    }

    .sub-menu_only {
        font-size: 10px;
    }

    .tech_logo {
        width: 80%;
    }

    .part_1 {
        display: flex;
        width: 100%;
    }

    .part_2 {
        width: 50%;
    }

    .part_3 {
        width: 50%;
    }

    .media_720px {
        width: 100%;
    }

    .part_logo {
        width: 20%;
    }

    .logo {
        justify-content: normal;
    }

    .part_pesquisa {
        width: 40%;
        justify-content: normal;
    }

    .caixa_pesquisa {
        width: 80%;
    }

    .usuario-icone {
        width: 25px;
        margin-bottom: -2px;
    }

    .minha_conta,
    .login_p {
        font-size: 12px;
    }

    .logins-menus {
        line-height: 13px;
        margin-top: 5px;
    }

    .conteudo {
        height: 50%;
        background-size: 100% 100%;
        background-position: bottom;
        padding: 3%;
    }

    .email {
        justify-content: normal;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 5px;
    }

    .titulo-2 {
        margin-bottom: 5px;
    }

    .carousel {
        height: 50%
    }

    .container {
        height: 50%;
    }

    .h1_container {
        font-size: 40px;
    }

    .saiba_mais {
        width: 12%;
        font-size: 10px;
    }

    .rodape_cont {
        font-size: 15px;
    }

    .rodape {
        padding: 3%;
    }

}

@media screen and (min-height: 1000px) {
    .top {
        height: 5%;
    }

    .logo {
        align-items: center;
        height: 60%;
    }

    .part_logo {
        height: 65%;
    }

    .part_pesquisa {
        height: 70%;
        justify-content: center;
    }

    .menu {
        height: 40%;
    }

    .conteudo {
        padding-top: 1%;
        padding-bottom: 1%;
        margin-top: 0px;
        height: 25%;
    }

    .counteudo-1 {
        height: 100%;
    }

    .selos {
        height: 20%;
        margin-top: 0px;
    }

    .titulo-1 {
        height: 80%;
    }

    .titulo-3 {
        height: 20%;
        width: 50%;
        color: white;
        font-family: 'arial';
    }

    .buttons {
        height: 20%;
        display: flex;
        align-items: center;
    }

    h1 {
        padding: 1% 0;
        height: 60%;
        font-size: 40px;
        margin-bottom: 0px;
    }

    .carousel {
        height: 20%;
    }

    .rodape {
        height: 35%;
    }

    .final_logo_text {
        line-height: 15px;
    }
}



@media screen and (max-width: 450px) and (max-height: 1000px) {

    .main {
        width: 100%;
        padding: 2%;
    }

    .top {
        display: flex;
        flex-direction: column;
        height: 5%;
    }

    .part_1 {
        display: flex;
        flex-direction: column;
        height: 80%;
        align-items: center;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        font-size: 25px;
        width: 100%;
        text-align: center;
    }

    .barra {
        display: none;
    }

    .qualidade {
        display: none;
    }

    .media_720px {
        display: block;
        height: 20%;
    }

    .part_2 {
        display: block;
        height: 100%;
        width: 20%;
    }

    .e-mail_img {
        display: none;
    }

    .email_adress {
        display: none;
    }

    .part_3 {
        display: none;
    }

    .fixed_box {
        display: block;
        width: 100%;
        position: unset;
        height: 25vh;
        align-items: center;
        justify-content: center;
        padding: 3%;
    }

    .redes_sociais {
        display: block;
    }

    .logo {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        ;
    }

    .email_mobile {
        display: block;
        width: 20%;
        height: 53%;
    }

    .part_logo {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .tech_logo {
        width: 65%;
    }

    .part_pesquisa {
        display: flex;
        width: 100%;
        height: 32%;
        justify-content: center;
    }

    .caixa_pesquisa {
        width: 90%;
        display: flex;
        overflow: hidden;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 8px 0px #eec200;
        height: 70%;
    }

    .buscador {
        width: 85%;
    }

    .lupa {
        width: 15%;
    }

    .part_login {
        display: flex;
        width: 100%;
        height: 35%;
    }

    .login {
        display: flex;
        height: 80%;
        width: 60%;
    }

    .logins-menus {
        display: block;
        line-height: 17px;
        margin-top: 0px;
    }

    .minha_conta {
        font-size: 17px;
    }

    .login_p {
        font-size: 17px;
    }

    .usuario-icone {
        width: 30px;
        margin-bottom: 3px;
    }

    .part_carrinho {
        position: absolute;
        top: 7%;
        right: 5%;
        display: block;
        width: 50px;
        height: 50px;
    }

    .carrinho {
        display: block;
        width: 50px;
        height: 50px;
    }

    .car-icon {
        width: 50px;
        height: 50px;
    }

    .quantidade {
        margin-top: -50px;
        margin-left: 35px;
        width: 20px;
        height: 20px;
    }

    .menu {
        flex-direction: column;
        width: 10%;
        height: 7%;
        position: absolute;
        top: 7%;
        left: 3%;
        background-image: url(img/sandwich.png);
        background-size: 100% 100%;
        border: none;
    }

    .sub {
        display: none;
    }

    .menu:hover {
        .sub {
            background-color: rgba(0, 0, 0, 0.9);
            display: block;
            width: 100%;
            width: 190px;
            margin-left: 260%;
            margin-top: 200%;
        }

        .sub-menus,
        .sub-menu_only {
            font-size: 20px;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    .box_botton_fixed {
        display: none;
    }

    .conteudo {
        background-image: url(img/fundo_mobile.png);
        background-color: #000000;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70vh;
        padding: 0;
    }

    .titulo-1 {
        padding: 3%;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        height: 30%;
        text-align: center;
        margin-top: 10%;
    }

    .h1_container {
        text-align: center;
        margin-top: 10%;
        height: 35%;
    }

    .titulo-2 {
        width: 80%;
        height: 50%;
        text-align: center;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .orcamento,
    .servicos {
        width: 40%;
    }

    .selos {
        display: block;
        height: 20%;
    }

    .prod_qualidade {
        display: block;
    }

    .selos {
        display: none;
    }

    .left_img,
    .right_img {
        display: none;
    }

    .carousel {
        display: block;
        height: 90vh;
    }

    .center_menu {
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .highlights_menu {
        display: flex;
        width: 100%;
        height: 5%;
    }

    .emphasis {
        display: flex;
        align-items: center;
    }

    .box_see_all {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .featured_items {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2%;
        height: 95%;
    }

    .item-1,
    .item-2,
    .item-3,
    .item-4 {
        width: 100%;
        height: 25%;
    }

    .container {
        align-items: center;
    }

    .saiba_mais {
        width: 25%;
    }

    .rodape {
        height: 110vh;
    }

    .rodape_cont {
        width: 85%;
    }

    .titulo-3 {
        height: 20%;
        width: 70%;
        color: white;
        font-family: 'arial';
        text-align: center;
    }

    .institutional {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        gap: 2%;
    }

    .final_logo {
        display: flex;
        width: 100%;
        height: 33%;
        border: 1px solid #ffffff18;
    }

    .quem_somos {
        display: flex;
        width: 100%;
        height: 33%;
        border: 1px solid #ffffff18;
        justify-content: center;
        align-items: center;
    }

    .quem_somos_links {
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 15px;
    }

    .inst {
        display: block;
    }

    .endereco {
        display: flex;
        width: 100%;
        height: 33%;
        border: 1px solid #ffffff18;
        justify-content: center;
        align-items: center;
    }

    .ender_cont {
        display: block;
    }

    .institutional_whats {
        display: flex;
    }

    .institutional_email {
        display: flex;
    }

    .contact {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.rodape_adress {
    margin-left: 0;
    text-align: justify;
}

    .rights_reserved {
        display: flex;
        height: 6%;
        text-align: center;
        justify-content: center;
    }

}