* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: black;
    height: 100vh;
}

.fixed_box {
    align-items: center;
    justify-items: center;
    background-color: black;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
}

.top {
    display: flex;
    padding: 0 3% 0 3%;
    color: white;
    width: 100%;
    border-bottom: 2px solid #1d1c1c;
    height: 50px;
    justify-content: center;
}

.part_1 {
    display: flex;
    width:58%;
}

.part_2 {
    display: flex;
    width:25%;
}

.part_3 {
    display: flex;
    width:17%;

}

.lupa {
    overflow: hidden;
    background-color: #E8C423;
    border: none;
    cursor: pointer;
}

.email {
    align-items: center;
    display: flex;
    width: 100%;
}

.whats_logo {
    background-color: hsl(0, 0%, 90%);
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 70px;
    cursor: pointer;
    border-radius: 40px;
}

.apresentacao {
    align-items: center;
    display: flex;
    width: 100%
}

.bem_vindo {
margin-right: 5px;
}

.qualidade {
margin-left: 5px;
}

.e-mail_img {
    width: 35px;
    height: 25px;
    cursor: pointer;
}

.redes_sociais {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.logo_insta {
    width: 40px;
    cursor: pointer;
}

.logo_face {
    width: 25px;
    cursor: pointer;
}

.logo {
  display: flex;
    padding: 0 3% 0 3%;
    color: white;
    width: 100%;
    border-bottom: 2px solid #1d1c1c;
    height: 50px;
    justify-content: center;
}

.part_logo {
    width: 15%;
}

.tech_logo {
}

.part_pesquisa {
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: end;
}

.caixa_pesquisa {
    width: 80%;
    display: flex;
    height: 40px;
    overflow: hidden;border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px #eec200;
}

.quantidade {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    margin-top: -20px;
    margin-left: -10px;
    font-size: 10px;
}

.part_login {
    width: 25%;
}

.login {
    display: flex;
    align-items: center;
}

.login_p {
    cursor: pointer;
}

.minha_conta {
    cursor: pointer;
}

.buscador {
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 25px;
    text-align: center;
    place-content: center;
    border: none;
}

::placeholder {
    opacity: 0.3;
}

.usuario-icone {
    margin-top: 1px;
}

.logins-menus {
    line-height: 20px;
}

.part_carrinho {
    width: 5%;
}

.carrinho {
    display: flex;
    align-items: center;
}

.car-icon {
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 35px;
    margin-top: 10px;
    border-bottom: 2px solid #1d1c1c;
}

.sub-menus {
    height: 25px;
    padding: 0px 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.box_cont {
    display: flex;
}

.conteudo {
    background-image: url(img/capa.png);
    background-size: 100% 100%;
    height: 73%;
    display: flex;
    border-bottom: 2px solid #1d1c1c;
    margin-top: 115px;
}

.counteudo-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    width: 240px;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 60px;
    font-style: italic;
    line-height: 55px;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.o_melhor {
    color: #F8BB1D;
}

.titulo-2 {
    width: 350px;
    color: white;
    font-family: 'arial';
    margin-bottom: 25px;
}

.titulo-1 {
    margin-left: 45px;
}

.selos {
    display: flex;
    width: 605px;
    margin: 30px auto 0px 45px;
    gap: 30px;
}

.orcamento {
    width: 150px;
    height: 31px;
    margin-right: 20px;
    background-color: #F8BB1D;
    border: none;
    box-shadow: 0px 0px 5px 0px #000000;
    border-radius: 5px;
    cursor: pointer;
}

.servicos {
    width: 150px;
    height: 31px;
    background-color: #000000;
    color: white;
    border-color: #ffffff;
    border-width: 1px;
    box-shadow: 0px 0px 5px 0px #000000;
    border-radius: 5px;
    cursor: pointer;
}

.prod_qualidade {
    display: flex;
    align-items: center;
    width: 180px;
    color: white;
}

.garantia {
    display: flex;
    align-items: center;
    width: 185px;
    color: white;
}

.entrega {
    display: flex;
    align-items: center;
    width: 140px;
    color: white;
}

.quality_img {
    background-size: 30px 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    border: #F8BB1D solid 1px;
    border-radius: 10px;
    margin-right: 10px;
}

.garantia_img {
    background-size: 30px 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    border: #F8BB1D solid 1px;
    border-radius: 10px;
    margin-right: 10px;
}

.entrega_img {
    background-size: 30px 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    border: #F8BB1D solid 1px;
    border-radius: 10px;
    margin-right: 10px;
}

.e-mail_img:hover,
.whats_logo:hover,
.e-mail:hover,
.lupa:hover,
.logo_insta:hover,
.logo_face:hover,
.minha_conta:hover,
.login_p:hover,
.car-icon:hover,
.orcamento:hover,
.servicos:hover,
.see_all:hover,
.sub-menus:hover {
    transform: scale(1.1);
}

.e-mail_img:active,
.whats_logo:active,
.e-mail:active,
.lupa:active,
.logo_insta:active,
.logo_face:active,
.minha_conta:active,
.login_p:active,
.car-icon:active,
.orcamento:active,
.servicos:active,
.see_all:active {
    transform: scale(0.99);
    opacity: 0.8;
}

.sub-menus:active {
    transform: scale(0.99);
    opacity: 0.5;
}

.carousel {
    display: flex;
    width: 100%;
    height: 250px;
    padding: 10px 40px;
    gap: 1%;
    background-color: #141414;
    justify-content: center;
}

.emphasis {
    color: #ffffff;
}

.highlights_menu {
    margin-top: 10px;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50%;
}

.see_all {
    font-size: 12px;
    width: 100px;
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #e2dcdc;
}

.left_img {
    background-color: #ffffff;
    width: 20%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.right_img {
    background-color: #ffffff;
    width: 20%;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}

.center_menu {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.featured_items {
    display: flex;
    height: 100%;
    gap: 2vw;
    justify-content: center;
    padding: 20px;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
    background-color: #ffffff;
    width: 10vw;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    align-content: center;
}

.assistance {
    width: 100%;
    height: 100%;
}

.acessories {
    width: 100%;
    height: 100%;
}

.rodape {
    padding: 10px 40px;
    background-color: #141414;
    width: 100%;
    height: 300px;
}

.institutional {
    background-color: #141414;
    display: flex;
    width: 100%;
    height: 250px;
    gap: 5vw;
    justify-content: center;
}

.rights_reserved {
    color: #ffffff;
    background-color: #141414;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.final_logo {
    background-color: #f88585;
    width: 30%;
    height: 100%;
}

.quem_somos {
    background-color: #f88585;
    width: 30%;
    height: 100%;
}

.endereco {
    background-color: #f88585;
    width: 30%;
    height: 100%;
}


/*


@media screen and (max-width: 980px) {

    .email_adress {
        display: none;
    }

    .email {
        margin-right: 5vw;
        margin-left: 15vw;
    }

    .login {
        width: 180px;
    }

    .caixa_pesquisa {
        margin-right: 0vw;
    }

    .tech_logo {
        margin-right: 0vw;
    }

    .buscador {
        width: 30vw;
    }

    .logins-menus {
        letter-spacing: 1px;
        line-height: 20px;
        margin-top: -5px;
        margin-right: 0px;
    }

    .carrinho {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        width: 5vw;
    }

    .logo {
        justify-content: center;
        gap: 5vw;
        padding-right: 2vw;
    }

    .menu {
        gap: 20px;
    }

    .carousel {
        height: 210px;
    }

}


@media screen and (max-width: 860px) {
    .main {
        background-color: #ff0000;
    }

    .menu {
        gap: 5px;
    }
.email {
    margin-left: 10vw;
}

}